@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

.poppins-thin {
    font-weight: 100 !important;
    font-style: normal;
}

.poppins-extralight {
    font-weight: 200 !important;
    font-style: normal;
}

.poppins-light {
    font-weight: 300 !important;
    font-style: normal;
}

.poppins-regular {
    font-weight: 400 !important;
    font-style: normal;
}

.poppins-medium {
    font-weight: 500 !important;
    font-style: normal;
}

.poppins-semibold {
    font-weight: 600 !important;
    font-style: normal;
}

.poppins-bold {
    font-weight: 700 !important;
    font-style: normal;
}

.poppins-extrabold {
    font-weight: 800 !important;
    font-style: normal;
}

.poppins-black {
    font-weight: 900 !important;
    font-style: normal;
}

.poppins-thin-italic {
    font-weight: 100 !important;
    font-style: italic;
}

.poppins-extralight-italic {
    font-weight: 200 !important;
    font-style: italic;
}

.poppins-light-italic {
    font-weight: 300 !important;
    font-style: italic;
}

.poppins-regular-italic {
    font-weight: 400 !important;
    font-style: italic;
}

.poppins-medium-italic {
    font-weight: 500 !important;
    font-style: italic;
}

.poppins-semibold-italic {
    font-weight: 600 !important;
    font-style: italic;
}

.poppins-bold-italic {
    font-weight: 700 !important;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-weight: 800 !important;
    font-style: italic;
}

.poppins-black-italic {
    font-weight: 900 !important;
    font-style: italic;
}

.zero {
    margin: 0 !important;
    padding: 0 !important;
}

.bg-main {
    background-color: #F4ECE6 !important;
}

.bg-main-light-gradient {
    background: linear-gradient(180deg, #F4ECE6, #f4ece6df) !important;

}

.text-main {
    color: #E6DACE !important;
}

.active {
    color: #0050FF !important;
}

.split-bg {
    width: 100%;
    height: 600px;
    background: linear-gradient(to right, #E6DACE 35%, #FFFFFF 35%);
}

.display-main {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.mm-left {
    margin-left: -100px !important;
    border-radius: 0px !important;
    box-shadow: -10px 0 20px rgba(0, 0, 0, 0.25);
    border: .1solid black !important;
}

.radius-0 {
    border-radius: 0px !important;
}

.fs-large {
    font-size: 7vw !important;
}

.w--25 {
    width: 35% !important;
}

.text-justify {
    text-align: justify !important;
}

.hover-primary {
    background: #fff !important;
    color: #000 !important;
}

.hover-primary:hover {
    background: #0050FF !important;
    color: white !important;
}

.wh-main {
    width: 25% !important;
}

.h-100 {
    height: 100% !important;
}

.animate:hover {
    border-bottom: 2px solid #0050FF !important;
}

.text-pink {
    color: rgba(255, 0, 72, 0.821) !important;
}

.zoom {
    width: 75% !important;
    transition: .8s ease-in-out !important;
}

.zoom:hover {
    transform: scale(1.4);
}

.w-md-75 {
    width: 75% !important;
}

.border-end-2 {
    height: 100px !important;
    border-right: 5px solid #0050FF !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-bottom: 0 !important;
}

.border-x {
    height: 100px !important;
    border-left: 5px solid #0050FF !important;
    border-top: 0 !important;
    border-right: 5px solid #0050FF !important;
    border-bottom: 0 !important;
}

.w-lg-50 {
    width: 50% !important;
}

.w-lg-75 {
    width: 75% !important;
}